* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 100%;
    background: white;
    align-items: center;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin: 10px 0 25px;
    height: 380px;
    width: 380px;
    border: black 10px solid;

}



.cell {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    background:lightgray;
}

.cell.dark {
    background: grey;
}

.wall {
    background: pink;
}


/* .cell.wall-top {
    border-bottom: black 10px solid;
}
.cell.wall-bottom {
    border-top: black 10px solid;
}
.cell.wall-left {
    border-right: black 10px solid;
}
.cell.wall-right {
    border-right: black 10px solid;
} */


.cell.snake::after {
    background: green;
    content: '';
    height: 30px;
    width: 30px;
}