* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 100%;
    background: white;
    align-items: center;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    margin: 10px 0 25px;
    height: 300px;
    width: 300px;
    background:lightgray;
}

.cell {
    height: 30px;
    width:30px;
    display: flex;
    align-items: center;

}

.cell.dark {
    background: grey;

}

.cell.snake::after {
    background: green;
    content: '';
    height: 30px;
    width: 30px;
}

.cell.wall-top {border-top: black 10px solid;}
.cell.wall-bottom {border-bottom: black 10px solid;}
.cell.wall-left {border-left: black 10px solid;}
.cell.wall-right {border-right: black 10px solid;}

.cell.tunnel-top {border-top:  none;}
.cell.tunnel-bottom {border-bottom:  none;}
.cell.tunnel-left {border-left:  none;}
.cell.tunnel-right {border-right: none;}