* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 100%;
    background: white;
    align-items: center;
    text-align: center;
}
h1 {
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin: 10px 0 25px;
    height: 360px;
    width: 360px;
    /* border: black 10px solid; */

}



.cell {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    background:lightgray;
}

.cell.dark {
    background: grey;
}



.cell.wall-top {
    border-bottom: black 10px solid;
    background: white;
    /* width:30px; */
    /* height: 10px; */
}
.cell.wall-bottom {
    border-top: black 10px solid;
    background: white;
    /* width:30px;
    height: 10px; */
}
.cell.wall-left {
    border-right: black 10px solid;
    background: white;
    /* width:10px;
    height: 30px; */
    
}
.cell.wall-right {
    border-left: black 10px solid;
    background: white;
    /* width:10px;
    height: 30px; */
    
}
/* Make the corners small squares */
.cell.row-0.col-11 {
    width:10px;
    height: 10px;
    margin-top:20px;
}
.cell.row-0.col-0 {
    width:10px;
    height: 10px;
    margin-top:20px;
    margin-left: 20px;
}
.cell.row-11.col-0 {
    width:10px;
    height: 10px;
    margin-left: 20px;
}
.cell.row-11.col-11 {
    width:10px;
    height: 10px;
}

.cell.tunnel-set1 {
    background: white; 
    /* width:30px;
    height: 10px; */
}
.cell.tunnel-set2 {background: white;
    /* width:30px;
    height: 10px; */
}
.cell.tunnel-set3 {background: white;
    /* width:10px;
    height: 30px; */
}
.cell.tunnel-set4 {background: white;
    /* width:10px;
    height: 10px; */
}

.cell.snake::after {
    background: green;
    content: '';
    height: 30px;
    width: 30px;
}


button {
    background-color: #4370F1;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
}