body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 100%;
    background: white;
    align-items: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    margin: 10px 0 25px;
    height: 700px;
    width: 700px;
}

.cell {
    background: #4370F1;
    height: 100px;
    width: 100px;
    border: 1px solid black;

}

.left-border {
    background: green;
}
.right-border {
    background: crimson;
}

button {
    background-color:royalblue;
    color: white;
    font-weight: bold;
}